<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/index.css">
    <script src="app.js" defer></script>
    <link rel="shortcut icon" href="#">
    <title>Profil Utilisateur Zone01</title>
</head>
<body>
    <div id="titrePage" class="titrePage">Bonjour</div>
    <div id="allContent">
        <div class="infoUsername">
            username(zone01) :
            <input type="text" id="username">
        </div>
        <div class="infoPassword">
           password :
            <input type="password" id="password">
        </div>
        <div id="errorMessage"></div>
        <button type="button" id="submitButton">Envoyer</button>
        <button type="button" id="logoutButton" style="display: none;">Déconnexion</button>
    </div>
    <script src="../app.js"></script>
</body>
</html>